.badge-hijau {
    background-color: #28a745;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.badge-kuning {
    background-color: #ffc107;
    color: black;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.badge-merah {
    background-color: #dc3545;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.o_list_view table thead {
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
